main.container {
  margin-top: 2em;
}

.toast-message {
  font-size: 30px;
}

.workout-details > * {
  margin-bottom: 1em;
}

/* .tooltiptext {
  width: 50%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
 */
