main.container {
  margin-top: 2em;
}

.toast-message {
  font-size: 30px;
}

.workout-details > * {
  margin-bottom: 1em;
}

.add-workout {
  max-width: 600px;
  margin: 0 auto;
}

.add-workout-exercise {
  display: flex;
}

.add-workout-exercise div {
  flex: 1
}

.my-account-dropdown .dropdown-menu {
  right: 0;
  left: unset;
}
